<%= content_for(:title) do %>
  Fitsapp | Add a plan
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2 class="text-center">Create a new plan</h2>
        <%= simple_form_for @new_plan, html: { multipart: :true } do |f| %>
          <%= f.input :date, label: false, label: "Day for the training plan" %>
          <%= f.input :title, label: false, placeholder: "Name your training plan" %>
          <%= f.input :meal, label: false, placeholder: "Recommended meals", as: :text %>
          <%= f.input :exercise, label: false, placeholder: "Recommended excercises", as: :text %>
          <%= f.input :meditation, label: false, placeholder: "Recommended meditation", as: :text %>

          <div class="btn-center">
            <%= f.button :submit, 'Save', class:  "btn-primary btn-center" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

