<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 card">
      <h2><%= @plan.title %></h2>
      <p><%= @plan.date %></p>
      <p><%= @plan.meal %></p>
      <p><%= @plan.exercise %></p>
      <p><%= @plan.meditation %></p>
      <p><%= @plan.user_id %></p>
    </div>
  </div>
</div>
